<a href="https://colab.research.google.com/github/Chamara-g/pre-datastorm-v1-0/blob/master/pre_data_storm_NN_design.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import numpy as np
import pandas as pd

In [3]:
#read train data set
df = pd.read_csv("drive/My Drive/FYP/dataset/credit_card_data_pre.csv", index_col=0)
df.head()

           Balance_Limit_V1  Gender  ...  PAY_GRD  NEXT_MONTH_DEFAULT
Client_ID                            ...
A2                1000000.0       1  ...       -6                   0
A3                1000000.0       0  ...       -4                   0
A4                 100000.0       0  ...        7                   1
A5                 200000.0       0  ...        2                   1
A6                1000000.0       0  ...        4                   0

[5 rows x 27 columns]

In [7]:
#read test data set
df_test = pd.read_csv("drive/My Drive/FYP/dataset/credit_card_data_test_pre.csv", index_col=0)
df_test.head()

           Balance_Limit_V1  Gender  ...  PAY_GRD   PAY_DUE_GRD
Client_ID                            ...
A20170             500000.0       1  ...        0  18572.642857
A16887             200000.0       0  ...        0   1413.200000
A3430              400000.0       1  ...       -1   2343.485714
A3696             1500000.0       1  ...       -7   -990.000000
A20474             100000.0       0  ...       -8  -6089.785714

[5 rows x 27 columns]

In [0]:
#test data set pre processing

#convet to string balance limit to float
df_test.Balance_Limit_V1 = (df_test.Balance_Limit_V1.replace(r'[KMB]+$', '', regex=True).astype(float) * df_test.Balance_Limit_V1.str.extract(r'[\d\.]+([KMB]+)', expand=False).fillna(1).replace(['K','M', 'B'], [10**3, 10**6, 10**9]).astype(int))
df_test.head()

#gender education marital age stringto int convert
df_test.Gender.replace(['M', 'F'], [1, 0], inplace=True)
df_test.EDUCATION_STATUS.replace(['Graduate', 'High School', 'Other'], [2, 1, 0], inplace=True)
df_test.MARITAL_STATUS.replace(['Other', 'Single'], [1, 0], inplace=True)
df_test.AGE.replace(['Less than 30', '31-45', '46-65','More than 65'], [3, 2, 1, 0], inplace=True)

df_test.head()

           Balance_Limit_V1  Gender  ...  PAID_AMT_NOV  PAID_AMT_DEC
Client_ID                            ...
A20170             500000.0       1  ...         17256         12991
A16887             200000.0       0  ...          4620          4620
A3430              400000.0       1  ...          2310         40060
A3696             1500000.0       1  ...             0             0
A20474             100000.0       0  ...             0             0

[5 rows x 23 columns]

In [0]:
#train data set pre processing

#convet to string balance limit to float
df.Balance_Limit_V1 = (df.Balance_Limit_V1.replace(r'[KMB]+$', '', regex=True).astype(float) * df.Balance_Limit_V1.str.extract(r'[\d\.]+([KMB]+)', expand=False).fillna(1).replace(['K','M', 'B'], [10**3, 10**6, 10**9]).astype(int))
df.head()

#gender education marital age stringto int convert
df.Gender.replace(['M', 'F'], [1, 0], inplace=True)
df.EDUCATION_STATUS.replace(['Graduate', 'High School', 'Other'], [2, 1, 0], inplace=True)
df.MARITAL_STATUS.replace(['Other', 'Single'], [1, 0], inplace=True)
df.AGE.replace(['Less than 30', '31-45', '46-65','More than 65'], [3, 2, 1, 0], inplace=True)

df.head()

           Balance_Limit_V1  Gender  ...  PAID_AMT_DEC  NEXT_MONTH_DEFAULT
Client_ID                            ...
A2                1000000.0       1  ...        538165                   0
A3                1000000.0       0  ...         33666                   0
A4                 100000.0       0  ...             0                   1
A5                 200000.0       0  ...          3918                   1
A6                1000000.0       0  ...         17325                   0

[5 rows x 24 columns]

**NN model Train**

In [6]:
# first neural network with keras tutorial
from numpy import loadtxt
from keras.models import Sequential
from keras.layers import Dense
import tensorflow.compat.v1 as tf

from tensorflow import keras
import tensorflow.compat.v1 as tf

# split into input (X) and output (y) variables
X = df.drop("NEXT_MONTH_DEFAULT",1)   #Feature Matrix
y = df["NEXT_MONTH_DEFAULT"]          #Target Variable

selected_col_names = ["PAY_JULY",	"PAY_AUG",	"PAY_SEP",	"PAY_GRD"]
#selected_col_names = ["PAY_JULY" ,"PAID_AMT_JULY" ,"PAY_AUG" ,"PAID_AMT_AUG" ,"PAY_SEP" ,"PAID_AMT_SEP" ,"PAY_OCT" ,"PAID_AMT_OCT" ,"PAY_NOV" ,"PAID_AMT_NOV" ,"PAY_DEC" ,"PAID_AMT_DEC"]
X_Select = X[selected_col_names]

# define the keras model
#model = Sequential()
#model.add(Dense(12, input_dim=4, activation='relu'))
#model.add(Dense(4, activation='relu'))
#model.add(Dense(1, activation='sigmoid'))

model = keras.Sequential([
    keras.layers.Flatten(input_shape=(4,)),
    keras.layers.Dense(10, activation=tf.nn.relu),
	  keras.layers.Dense(10, activation=tf.nn.sigmoid),
	  keras.layers.Dense(10, activation=tf.nn.relu),
    keras.layers.Dense(1, activation=tf.nn.sigmoid),
])

# compile the keras model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

# fit the keras model on the dataset
model.fit(X_Select, y, epochs=150, batch_size=10)

# evaluate the keras model
_, accuracy = model.evaluate(X_Select, y)
print('Accuracy: %.2f' % (accuracy*100))

Train on 24000 samples
Epoch 1/150
24000/24000 [==============================] - 7s 290us/sample - loss: 0.4605 - acc: 0.8055
Epoch 2/150
24000/24000 [==============================] - 7s 285us/sample - loss: 0.4455 - acc: 0.8188
Epoch 3/150
24000/24000 [==============================] - 7s 294us/sample - loss: 0.4442 - acc: 0.8190
Epoch 4/150
24000/24000 [==============================] - 7s 285us/sample - loss: 0.4439 - acc: 0.8198
Epoch 5/150
24000/24000 [==============================] - 7s 286us/sample - loss: 0.4435 - acc: 0.8195
Epoch 6/150
24000/24000 [==============================] - 7s 272us/sample - loss: 0.4430 - acc: 0.8195
Epoch 7/150
24000/24000 [==============================] - 7s 281us/sample - loss: 0.4429 - acc: 0.8203
Epoch 8/150
24000/24000 [==============================] - 7s 275us/sample - loss: 0.4428 - acc: 0.8198
Epoch 9/150
24000/24000 [==============================] - 6s 263us/sample - loss: 0.4422 - acc: 0.8209
Epoch 10/150
24000/24000 [==============================] - 7s 271us/sample - loss: 0.4426 - acc: 0.8202
Epoch 11/150
24000/24000 [==============================] - 7s 285us/sample - loss: 0.4425 - acc: 0.8204
Epoch 12/150
24000/24000 [==============================] - 7s 279us/sample - loss: 0.4420 - acc: 0.8211
Epoch 13/150
24000/24000 [==============================] - 7s 272us/sample - loss: 0.4423 - acc: 0.8208
Epoch 14/150
24000/24000 [==============================] - 7s 272us/sample - loss: 0.4420 - acc: 0.8204
Epoch 15/150
24000/24000 [==============================] - 7s 285us/sample - loss: 0.4419 - acc: 0.8210
Epoch 16/150
24000/24000 [==============================] - 7s 275us/sample - loss: 0.4421 - acc: 0.8207
Epoch 17/150
24000/24000 [==============================] - 6s 262us/sample - loss: 0.4417 - acc: 0.8213
Epoch 18/150
24000/24000 [==============================] - 7s 286us/sample - loss: 0.4418 - acc: 0.8205
Epoch 19/150
24000/24000 [==============================] - 7s 271us/sample - loss: 0.4419 - acc: 0.8205
Epoch 20/150
24000/24000 [==============================] - 7s 276us/sample - loss: 0.4417 - acc: 0.8207
Epoch 21/150
24000/24000 [==============================] - 7s 274us/sample - loss: 0.4414 - acc: 0.8210
Epoch 22/150
24000/24000 [==============================] - 7s 294us/sample - loss: 0.4414 - acc: 0.8208
Epoch 23/150
24000/24000 [==============================] - 7s 287us/sample - loss: 0.4415 - acc: 0.8206
Epoch 24/150
24000/24000 [==============================] - 7s 280us/sample - loss: 0.4414 - acc: 0.8209
Epoch 25/150
24000/24000 [==============================] - 7s 279us/sample - loss: 0.4414 - acc: 0.8202
Epoch 26/150
24000/24000 [==============================] - 7s 275us/sample - loss: 0.4414 - acc: 0.8203
Epoch 27/150
24000/24000 [==============================] - 7s 274us/sample - loss: 0.4411 - acc: 0.8201
Epoch 28/150
24000/24000 [==============================] - 7s 271us/sample - loss: 0.4409 - acc: 0.8211
Epoch 29/150
24000/24000 [==============================] - 6s 267us/sample - loss: 0.4412 - acc: 0.8204
Epoch 30/150
24000/24000 [==============================] - 7s 288us/sample - loss: 0.4405 - acc: 0.8209
Epoch 31/150
24000/24000 [==============================] - 7s 273us/sample - loss: 0.4410 - acc: 0.8213
Epoch 32/150
24000/24000 [==============================] - 6s 262us/sample - loss: 0.4407 - acc: 0.8207
Epoch 33/150
24000/24000 [==============================] - 6s 260us/sample - loss: 0.4408 - acc: 0.8202
Epoch 34/150
24000/24000 [==============================] - 7s 273us/sample - loss: 0.4406 - acc: 0.8208
Epoch 35/150
24000/24000 [==============================] - 6s 257us/sample - loss: 0.4405 - acc: 0.8215
Epoch 36/150
24000/24000 [==============================] - 6s 261us/sample - loss: 0.4406 - acc: 0.8201
Epoch 37/150
24000/24000 [==============================] - 6s 266us/sample - loss: 0.4406 - acc: 0.8210
Epoch 38/150
24000/24000 [==============================] - 7s 272us/sample - loss: 0.4405 - acc: 0.8209
Epoch 39/150
24000/24000 [==============================] - 7s 287us/sample - loss: 0.4406 - acc: 0.8210
Epoch 40/150
24000/24000 [==============================] - 7s 276us/sample - loss: 0.4404 - acc: 0.8210
Epoch 41/150
24000/24000 [==============================] - 6s 268us/sample - loss: 0.4401 - acc: 0.8216
Epoch 42/150
24000/24000 [==============================] - 6s 253us/sample - loss: 0.4403 - acc: 0.8209
Epoch 43/150
24000/24000 [==============================] - 7s 275us/sample - loss: 0.4404 - acc: 0.8211
Epoch 44/150
24000/24000 [==============================] - 6s 263us/sample - loss: 0.4403 - acc: 0.8209
Epoch 45/150
24000/24000 [==============================] - 6s 253us/sample - loss: 0.4402 - acc: 0.8214
Epoch 46/150
24000/24000 [==============================] - 6s 254us/sample - loss: 0.4402 - acc: 0.8211
Epoch 47/150
24000/24000 [==============================] - 6s 261us/sample - loss: 0.4405 - acc: 0.8206
Epoch 48/150
24000/24000 [==============================] - 6s 267us/sample - loss: 0.4401 - acc: 0.8215
Epoch 49/150
24000/24000 [==============================] - 7s 273us/sample - loss: 0.4402 - acc: 0.8213
Epoch 50/150
24000/24000 [==============================] - 6s 265us/sample - loss: 0.4400 - acc: 0.8217
Epoch 51/150
24000/24000 [==============================] - 6s 265us/sample - loss: 0.4400 - acc: 0.8213
Epoch 52/150
24000/24000 [==============================] - 7s 274us/sample - loss: 0.4400 - acc: 0.8214
Epoch 53/150
24000/24000 [==============================] - 6s 259us/sample - loss: 0.4399 - acc: 0.8217
Epoch 54/150
24000/24000 [==============================] - 6s 267us/sample - loss: 0.4397 - acc: 0.8209
Epoch 55/150
24000/24000 [==============================] - 6s 269us/sample - loss: 0.4401 - acc: 0.8209
Epoch 56/150
24000/24000 [==============================] - 6s 269us/sample - loss: 0.4399 - acc: 0.8213
Epoch 57/150
24000/24000 [==============================] - 6s 263us/sample - loss: 0.4399 - acc: 0.8212
Epoch 58/150
24000/24000 [==============================] - 7s 272us/sample - loss: 0.4400 - acc: 0.8210
Epoch 59/150
24000/24000 [==============================] - 7s 272us/sample - loss: 0.4398 - acc: 0.8208
Epoch 60/150
24000/24000 [==============================] - 6s 249us/sample - loss: 0.4398 - acc: 0.8210
Epoch 61/150
24000/24000 [==============================] - 6s 267us/sample - loss: 0.4396 - acc: 0.8210
Epoch 62/150
24000/24000 [==============================] - 6s 260us/sample - loss: 0.4398 - acc: 0.8211
Epoch 63/150
24000/24000 [==============================] - 6s 256us/sample - loss: 0.4398 - acc: 0.8213
Epoch 64/150
24000/24000 [==============================] - 6s 260us/sample - loss: 0.4397 - acc: 0.8205
Epoch 65/150
24000/24000 [==============================] - 6s 266us/sample - loss: 0.4399 - acc: 0.8210
Epoch 66/150
24000/24000 [==============================] - 6s 256us/sample - loss: 0.4394 - acc: 0.8216
Epoch 67/150
24000/24000 [==============================] - 7s 273us/sample - loss: 0.4399 - acc: 0.8211
Epoch 68/150
24000/24000 [==============================] - 7s 276us/sample - loss: 0.4393 - acc: 0.8215
Epoch 69/150
24000/24000 [==============================] - 6s 262us/sample - loss: 0.4396 - acc: 0.8220
Epoch 70/150
24000/24000 [==============================] - 7s 275us/sample - loss: 0.4396 - acc: 0.8214
Epoch 71/150
24000/24000 [==============================] - 6s 258us/sample - loss: 0.4395 - acc: 0.8217
Epoch 72/150
24000/24000 [==============================] - 7s 280us/sample - loss: 0.4397 - acc: 0.8213
Epoch 73/150
24000/24000 [==============================] - 6s 268us/sample - loss: 0.4398 - acc: 0.8212
Epoch 74/150
24000/24000 [==============================] - 6s 258us/sample - loss: 0.4396 - acc: 0.8212
Epoch 75/150
24000/24000 [==============================] - 6s 268us/sample - loss: 0.4395 - acc: 0.8209
Epoch 76/150
24000/24000 [==============================] - 6s 267us/sample - loss: 0.4396 - acc: 0.8212
Epoch 77/150
24000/24000 [==============================] - 7s 273us/sample - loss: 0.4392 - acc: 0.8215
Epoch 78/150
24000/24000 [==============================] - 6s 268us/sample - loss: 0.4396 - acc: 0.8209
Epoch 79/150
24000/24000 [==============================] - 6s 262us/sample - loss: 0.4394 - acc: 0.8217
Epoch 80/150
24000/24000 [==============================] - 6s 258us/sample - loss: 0.4395 - acc: 0.8216
Epoch 81/150
24000/24000 [==============================] - 6s 269us/sample - loss: 0.4392 - acc: 0.8214
Epoch 82/150
24000/24000 [==============================] - 6s 261us/sample - loss: 0.4395 - acc: 0.8211
Epoch 83/150
24000/24000 [==============================] - 6s 256us/sample - loss: 0.4394 - acc: 0.8208
Epoch 84/150
24000/24000 [==============================] - 6s 266us/sample - loss: 0.4397 - acc: 0.8208
Epoch 85/150
24000/24000 [==============================] - 7s 273us/sample - loss: 0.4391 - acc: 0.8213
Epoch 86/150
24000/24000 [==============================] - 7s 288us/sample - loss: 0.4394 - acc: 0.8211
Epoch 87/150
24000/24000 [==============================] - 7s 277us/sample - loss: 0.4394 - acc: 0.8211
Epoch 88/150
24000/24000 [==============================] - 6s 263us/sample - loss: 0.4389 - acc: 0.8213
Epoch 89/150
24000/24000 [==============================] - 6s 268us/sample - loss: 0.4394 - acc: 0.8211
Epoch 90/150
24000/24000 [==============================] - 7s 282us/sample - loss: 0.4395 - acc: 0.8208
Epoch 91/150
24000/24000 [==============================] - 6s 265us/sample - loss: 0.4393 - acc: 0.8213
Epoch 92/150
24000/24000 [==============================] - 6s 268us/sample - loss: 0.4391 - acc: 0.8213
Epoch 93/150
24000/24000 [==============================] - 6s 270us/sample - loss: 0.4394 - acc: 0.8216
Epoch 94/150
24000/24000 [==============================] - 6s 265us/sample - loss: 0.4392 - acc: 0.8214
Epoch 95/150
24000/24000 [==============================] - 7s 280us/sample - loss: 0.4394 - acc: 0.8209
Epoch 96/150
24000/24000 [==============================] - 7s 287us/sample - loss: 0.4394 - acc: 0.8208
Epoch 97/150
24000/24000 [==============================] - 6s 256us/sample - loss: 0.4393 - acc: 0.8214
Epoch 98/150
24000/24000 [==============================] - 7s 277us/sample - loss: 0.4392 - acc: 0.8217
Epoch 99/150
24000/24000 [==============================] - 7s 277us/sample - loss: 0.4390 - acc: 0.8213
Epoch 100/150
24000/24000 [==============================] - 6s 260us/sample - loss: 0.4392 - acc: 0.8219
Epoch 101/150
24000/24000 [==============================] - 7s 271us/sample - loss: 0.4392 - acc: 0.8220
Epoch 102/150
24000/24000 [==============================] - 7s 278us/sample - loss: 0.4393 - acc: 0.8214
Epoch 103/150
24000/24000 [==============================] - 6s 261us/sample - loss: 0.4392 - acc: 0.8218
Epoch 104/150
24000/24000 [==============================] - 7s 276us/sample - loss: 0.4389 - acc: 0.8217
Epoch 105/150
24000/24000 [==============================] - 7s 290us/sample - loss: 0.4389 - acc: 0.8213
Epoch 106/150
24000/24000 [==============================] - 6s 267us/sample - loss: 0.4389 - acc: 0.8212
Epoch 107/150
24000/24000 [==============================] - 7s 279us/sample - loss: 0.4390 - acc: 0.8215
Epoch 108/150
24000/24000 [==============================] - 7s 274us/sample - loss: 0.4391 - acc: 0.8215
Epoch 109/150
24000/24000 [==============================] - 6s 269us/sample - loss: 0.4393 - acc: 0.8219
Epoch 110/150
24000/24000 [==============================] - 7s 286us/sample - loss: 0.4389 - acc: 0.8215
Epoch 111/150
24000/24000 [==============================] - 6s 261us/sample - loss: 0.4390 - acc: 0.8219
Epoch 112/150
24000/24000 [==============================] - 7s 275us/sample - loss: 0.4391 - acc: 0.8212
Epoch 113/150
24000/24000 [==============================] - 7s 279us/sample - loss: 0.4391 - acc: 0.8216
Epoch 114/150
24000/24000 [==============================] - 7s 298us/sample - loss: 0.4389 - acc: 0.8210
Epoch 115/150
24000/24000 [==============================] - 7s 278us/sample - loss: 0.4390 - acc: 0.8213
Epoch 116/150
24000/24000 [==============================] - 7s 283us/sample - loss: 0.4392 - acc: 0.8213
Epoch 117/150
24000/24000 [==============================] - 6s 269us/sample - loss: 0.4390 - acc: 0.8222
Epoch 118/150
24000/24000 [==============================] - 7s 275us/sample - loss: 0.4385 - acc: 0.8216
Epoch 119/150
24000/24000 [==============================] - 7s 279us/sample - loss: 0.4389 - acc: 0.8213
Epoch 120/150
24000/24000 [==============================] - 7s 278us/sample - loss: 0.4385 - acc: 0.8219
Epoch 121/150
24000/24000 [==============================] - 7s 282us/sample - loss: 0.4387 - acc: 0.8209
Epoch 122/150
24000/24000 [==============================] - 7s 277us/sample - loss: 0.4389 - acc: 0.8213
Epoch 123/150
24000/24000 [==============================] - 7s 288us/sample - loss: 0.4389 - acc: 0.8212
Epoch 124/150
24000/24000 [==============================] - 7s 279us/sample - loss: 0.4388 - acc: 0.8207
Epoch 125/150
24000/24000 [==============================] - 7s 273us/sample - loss: 0.4388 - acc: 0.8214
Epoch 126/150
24000/24000 [==============================] - 7s 274us/sample - loss: 0.4390 - acc: 0.8218
Epoch 127/150
24000/24000 [==============================] - 7s 284us/sample - loss: 0.4385 - acc: 0.8213
Epoch 128/150
24000/24000 [==============================] - 6s 271us/sample - loss: 0.4387 - acc: 0.8212
Epoch 129/150
24000/24000 [==============================] - 7s 272us/sample - loss: 0.4388 - acc: 0.8212
Epoch 130/150
24000/24000 [==============================] - 7s 277us/sample - loss: 0.4388 - acc: 0.8219
Epoch 131/150
24000/24000 [==============================] - 7s 281us/sample - loss: 0.4387 - acc: 0.8212
Epoch 132/150
24000/24000 [==============================] - 7s 283us/sample - loss: 0.4386 - acc: 0.8212
Epoch 133/150
24000/24000 [==============================] - 7s 273us/sample - loss: 0.4388 - acc: 0.8215
Epoch 134/150
24000/24000 [==============================] - 7s 278us/sample - loss: 0.4388 - acc: 0.8210
Epoch 135/150
24000/24000 [==============================] - 7s 282us/sample - loss: 0.4386 - acc: 0.8220
Epoch 136/150
24000/24000 [==============================] - 6s 269us/sample - loss: 0.4386 - acc: 0.8222
Epoch 137/150
24000/24000 [==============================] - 6s 263us/sample - loss: 0.4386 - acc: 0.8211
Epoch 138/150
24000/24000 [==============================] - 7s 277us/sample - loss: 0.4387 - acc: 0.8222
Epoch 139/150
24000/24000 [==============================] - 7s 276us/sample - loss: 0.4389 - acc: 0.8220
Epoch 140/150
24000/24000 [==============================] - 7s 285us/sample - loss: 0.4387 - acc: 0.8215
Epoch 141/150
24000/24000 [==============================] - 7s 289us/sample - loss: 0.4387 - acc: 0.8217
Epoch 142/150
24000/24000 [==============================] - 6s 271us/sample - loss: 0.4383 - acc: 0.8214
Epoch 143/150
24000/24000 [==============================] - 6s 270us/sample - loss: 0.4386 - acc: 0.8218
Epoch 144/150
24000/24000 [==============================] - 7s 280us/sample - loss: 0.4387 - acc: 0.8215
Epoch 145/150
24000/24000 [==============================] - 6s 268us/sample - loss: 0.4384 - acc: 0.8212
Epoch 146/150
24000/24000 [==============================] - 6s 265us/sample - loss: 0.4386 - acc: 0.8215
Epoch 147/150
24000/24000 [==============================] - 7s 277us/sample - loss: 0.4385 - acc: 0.8220
Epoch 148/150
24000/24000 [==============================] - 6s 269us/sample - loss: 0.4387 - acc: 0.8218
Epoch 149/150
24000/24000 [==============================] - 7s 283us/sample - loss: 0.4387 - acc: 0.8209
Epoch 150/150
24000/24000 [==============================] - 7s 293us/sample - loss: 0.4385 - acc: 0.8213
24000/24000 [==============================] - 1s 53us/sample - loss: 0.4378 - acc: 0.8220
Accuracy: 82.20

In [8]:
# make class predictions with the model

X_test = df_test[selected_col_names]
y_pred_NN = model.predict_classes(X_test)
df_test["NEXT_MONTH_DEFAULT"] = y_pred_NN
df_test.head()

           Balance_Limit_V1  Gender  ...   PAY_DUE_GRD  NEXT_MONTH_DEFAULT
Client_ID                            ...
A20170             500000.0       1  ...  18572.642857                   0
A16887             200000.0       0  ...   1413.200000                   0
A3430              400000.0       1  ...   2343.485714                   0
A3696             1500000.0       1  ...   -990.000000                   0
A20474             100000.0       0  ...  -6089.785714                   0

[5 rows x 28 columns]

In [0]:
df_out = df_test['NEXT_MONTH_DEFAULT']
df_out.to_csv('drive/My Drive/FYP/dataset/credit_card_output_NN_NEW_F4_150.csv', encoding='utf-8', mode='w', header=["NEXT_MONTH_DEFAULT"], index=True)